build/
doc/_build/
doc/userguide/build*
__pycache__/
.mypy_cache/
.vscode
*~
*.dc
*.pyc
*.swp
*.db
!tests/integration/core/equivalent_structure_pairs.db
!tests/unittest/core/structure_databases/*.db
*.png
*.eps
*.so
local
.coverage
html/
latex/
xml/
